body {
  font-family: Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
  background-color: #f5f5f5;
  padding: 0 2%;
}

h1 {
  color: #333;
}

code {
  max-width: 35%;
  background-color: #f4f4f4;
  padding: 2px 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

pre {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

button.copy {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.copied-message {
  display: none;
  color: #4caf50;
  margin-left: 10px;
  vertical-align: middle;
}

button.copy:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 768px) {
  /* Adjust code block width for mobile */
  code {
    max-width: 100%;
    font-size: 0.9em;
  }

  /* Adjust pre block styling for better readability on mobile */
  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  /* Additional adjustments if needed */
  /* ... */
}
